<div class="action">
  <div class="items">First: {{first}}</div>
  <div class="items">Last: {{last}}</div>
  <div class="items">Email: {{email}}</div>
  <div class="items">Phone: {{phone}}</div>
  <div class="items">Age: {{age}}</div>
</div>
